:root {
    --heading-background-color: steelblue;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--heading-background-color);
    font-family: var(--heading-font)
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { padding: 0;}

aside {
    width: 20em;
    margin: 1em;
    border: var(--border);
    padding: var(--padding);
    background-color: #eee;
    color: #333;
    text-align: center; 
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: var(--border);
    text-align: center;
}